backend/.env
frontend/.env
backend/__pycache__/gastos.cpython-313.pyc
backend/__pycache__/gastos.cpython-313.pyc
*.pyc
nuevo1.txt
nuevo2.txt
nuev55o1.py
nuevo2666.txt
nuevo3.py
backend/__pycache__/app.cpython-313.pyc
backend/__pycache__/app.cpython-313.pyc
backend/__pycache__/app.cpython-313.pyc
